*{
    margin: 0;
    padding: 0; 
    
}

.fundo{
    background-image: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.842));   
    height: 100vh;
    
}


h1{
    text-align: center;
    color: aliceblue;
}

#ligar{
    display: block;
    width: 150px;
    height: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
    background-color: rgb(167, 167, 167);
    color: rgb(0, 0, 0);
    font-size: 40px;
    border-radius: 15px;
    cursor: pointer;
}

#ligar:hover{
    background-color: rgba(255, 255, 255, 0.75);
    transition: 0.4s;
}

#desligar{
    display: none;
    width: 150px;
    height: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
    background-color: rgb(167, 167, 167);
    color: rgb(0, 0, 0);
    font-size: 40px;
    border-radius: 15px;
    cursor: pointer;
}

#desligar:hover{
    background-color: rgba(255, 255, 255, 0.75);
}